@use "@/app/common.scss" as *;

.chatInfoBlock {
	width: 280px;
	backdrop-filter: blur(72px);
	box-shadow: 0 4px 21px 0 rgb(0 0 0 / 25%);
	border-radius: 32px;
	padding: 30px 15px;

	.chatInfoTitle {
		font-weight: 500;
		font-size: 20px;
		color: #000;
		font-family: FuturaMedium, sans-serif;
	}

	.chatName {
		font-weight: 500;
		font-size: 18px;
		color: #8e8e93;
		font-family: FuturaMedium, sans-serif;
	}

	.additionalFeatures {
		margin-top: 65px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.additionalFeature {
			cursor: pointer;
		}
	}

	.mainFeatures {
		margin-top: 140px;
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 25px;

		.mainFeature {
			font-weight: 500;
			font-size: 20px;
			color: #000;
			font-family: FuturaMedium, sans-serif;
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;
		}
	}
}
