@use "@/app/common.scss" as *;

.chatsMessagesCommonInfo {
	display: flex;
	border-radius: 36px 36px 0 0;
	align-items: center;
	justify-content: space-between;
	padding: 20px 35px;
	width: calc(100% - 70px);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	backdrop-filter: blur(10px);
	background-color: rgba(255 255 255 / 93%);
	box-shadow: 0 4px 21px 0 rgb(94 92 230 / 21%);

	.chatName {
		font-weight: 500;
		font-size: 20px;
		color: #000;
		font-family: FuturaMedium, sans-serif;
		margin: 0;
	}

	.commonInfoFirstBlock {
		display: flex;
		align-items: center;
		gap: 16px;

		.onlineIndicator {
			width: 14px;
			height: 14px;
			background-color: #24d169;
			border-radius: 50%;
		}

		.offlineIndicator {
			width: 14px;
			height: 14px;
			background-color: #d20303;
			border-radius: 50%;
		}

		.starSvg {
			width: 21px;
			height: 21px;
			font-size: 21px;
			margin: 0;
			color: black;
		}
	}

	.commonInfoSecondBlock {
		display: flex;
		align-items: center;
		gap: 16px;

		.participantsImages {
			display: flex;

			.participantImg {
				border-radius: 50%;
				border: 2px solid #5e5ce6;
			}
		}

		.chatUserCount {
			font-weight: 500;
			font-size: 18px;
			color: #000;
			font-family: FuturaMedium, sans-serif;
			margin: 0;
		}

		.additionalInfoSvg {
			border-radius: 100%;
			background-color: #000;
			width: 29px;
			height: 29px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2px;
			cursor: pointer;

			.circle {
				width: 2px;
				height: 2px;
				background-color: #fff;
			}

			.stick {
				width: 2px;
				height: 8px;
				background-color: #fff;
			}
		}
	}
}
